.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}



.background-success {
    background-color: #28a745;
}

.color707070{
    color: #707070;
}

.colorverde {
    color: #28a745;
}


/* #707070;
#F8F9FA o var(--light);
#fff o var(--white);
#28a745 o var(--success); */